# ===========================
# Flutter / Dart
# ===========================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

**/doc/api/
**/ios/Flutter/.last_build_id

# ===========================
# Android
# ===========================

android/app/debug/
android/app/profile/
android/app/release/

# ===========================
# Android Studio / IntelliJ
# ===========================

.idea/
*.iml
*.ipr
*.iws

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# Python
# ===========================

.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python cache
.pytest_cache/
.mypy_cache/

# Environment
.env

# ===========================
# Runtime Files
# ===========================

uploads/
shap_images/*.png

# ===========================
# macOS / Windows
# ===========================

.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================

*.log
*.swp